.evaluated {
  margin: 0;
}

.long-wait {
  margin: 0;
}

.timeout {
  margin: 0;
}

.useragentset {
  margin: 0;
}

.useragentunset {
  margin: 0;
}

.error {
  margin: 0;
}

.no-test .inject{
	margin: 0;
}

.test .inject{
	margin: 0;
}